<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="container">
      <p class="lead"> <%= shrinked.longUrl %></p> 
      <p class="lead"> <%= shrinked.shortUrl %></p> 
      <p class="lead"> <%= shrinked.clicks %> </p>
    </div>

<%- include('./partials/footer.ejs') %>
      
</body>
</html>